[Unit]
Description=display-ip
After=network-online.target

[Service]
Type=simple
User=sturla22
WorkingDirectory=/home/sturla22
ExecStart=/home/sturla22/cpsy/bin/python3 display-ip.py
Restart=never

[Install]
WantedBy=multi-user.target